<html>
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
<body>
<div class="col-md-8 offset-md-2">
    <span class="anchor" id="formUserEdit"></span>
                    <hr class="my-3">

                    <!-- form user info -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Add Goat</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off">
                                <div class="form-group row">                                   
                                    <div class="col-lg-4">
                                        <label class="form-control-label">EarTag ID</label>
                                        <input class="form-control" type="text" value="" >
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-control-label ">Tag Color</label>
                                            <select class="form-control" id="TagColor">
                                            <option>Blue</option>
                                            <option>Orange</option>
                                            <option>Red</option>
                                            <option>Green</option>
                                            </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-control-label">Body Color</label>
                                        <input class="form-control" type="email" value="">
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label">Birthdate</label>
                                        <input class="form-control" type="date" value="yyyy-mm-dd" id="example-date-input">
                                    </div>
                                    <div class="col-lg-6">
                                            <label class="form-control-label ">Gender</label>
                                                <select class="form-control" id="Gender">
                                                <option>Male</option>
                                                <option>Female</option>
                                                </select>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label class="form-control-label">Sire Tag ID</label>
                                            <input class="form-control" type="text" value="" >
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-control-label">Dam Tag ID</label>
                                            <input class="form-control" type="text" value="" >
                                        </div>
                                </div>
                                
                                
                                <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label class="form-control-label">Purchase Date</label>
                                            <input class="form-control" type="date" value="yyyy-mm-dd" id="example-date-input">
                                        </div>
                                        <div class="col-lg-6">
                                                <label class="form-control-label ">Purchased From</label>
                                                <input class="form-control" type="text" value="" >
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label class="form-control-label">Purchase Price</label>
                                            <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">&#8369;</span></div>
                                                    <input type="text" class="form-control" id="exampleAmount" placeholder="Amount">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                                <label class="form-control-label ">Purchased Weight</label>
                                                <input class="form-control" type="text" value="" >
                                        </div>
                                </div>

                                <div class="form-group row">
                                        <label class="form-control-label"></label>
                                        <div class="col-lg-9 mt-2">
                                            <input type="reset" class="btn btn-secondary" value="Cancel">
                                            <input type="button" class="btn btn-primary" value="Add Goat">
                                        </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- /form user info -->

                </div>
</body>
</html> 


